In [3]:
myname = 'Ratna' #following the rule 1: no spaces in variable name
print(myname)

Ratna

In [4]:
my name = "Ratna" #violating rule 1 gives error
print(my name)

SyntaxError: invalid syntax (<ipython-input-4-a978c8348b45>, line 1)

In [5]:
name1 = 'Ratna' #Rule 2:variable name should not start with number
print(name1)

Ratna

In [6]:
1name = 'Ratna' #violating Rule 2
print(1name)

SyntaxError: invalid syntax (<ipython-input-6-0c84b88fc732>, line 1)

In [7]:
name$ = 'Ratna' #violating Rule 3: variable name should not contain special characters
print(name$)

SyntaxError: invalid syntax (<ipython-input-7-014ed9462dad>, line 1)

In [8]:
#datatypes
name = 'Ratna' #string : series of characters enclosed in quotes
number = 8 #integer
number2 = 7.678 #float
print(type(name),type(number),type(number2))

<class 'str'> <class 'int'> <class 'float'>

In [11]:
name1 = 'Ratna'
#name2 = ''Suresh''
name4 = "Suresh"
name3 = '''Naveen'''
print(name1,name3,name4)

Ratna Naveen Suresh